<div class="container-fluid" ng-controller="TodayController">
  <section>
    <div class="row text-center" style="color:white;">
      <h4>Search for the weather in your city...</h4>
    </div>
    <div class="row">
      <form>
        <center><input type="text" ng-model="currentCity"><button class="submit" ng-click="">Submit</button></center>
        <div class="row text-center" style="color:white;">{{currentCity}}</div>
      </form>
    </div>
    <br>
    <div class="row">
      <div class="row text-center" style="color:white;font-size:300%">
        {{forecasts[0]}}
      </div>
      <br>
      <div class="row text-center">
        <div class="col-sm-1 col-sm-offset-2 forecast">
          <div class="row text-center" style="color:white;">Current Conditions</div>
          <img class="condition" src="../lib/img/{{condition}}.png">
        </div>
        <div class="col-sm-1 col-sm-offset-4 forecast">
          <div class="row text-center" style="color:white;">Forecast</div>
          <img class="condition" src="../lib/img/{{condition}}.png">
        </div>
      </div>
    </div>
  </section>
</div>