#messages {
  color: #d3d3d3;
}
.quadrant {
  border: 2px solid black;
  color: white;
}

body {
  background-image: url('../../lib/img/background.jpg');
}

.navbar {
  background-color: #93ADC2;
}

.links {
  color: white !important;
}
